<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger' : loveIts < 0 
                }">
    <div class="container">
      <div class="row">
        <div class = "col-9">
            <h4>{{title}}</h4>
        </div>
        <div class = "col-3">
          <p> {{created_at | date :'short'}}</p>
        </div>
        
      </div>
      <div class = "row">
          <div class = "col-12">
              <p>{{content}}</p>
            </div>
      </div>
    </div>
    <button class="btn btn-success"  (click)="likeAction()" >like it!</button>
    <button class="btn btn-danger"  (click)="dislikeAction()" >don't like it!</button>
</li>