<div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <app-post-list-item-component *ngFor="let post of posts" 
                    [title] = "post.title" 
                    [content] = "post.content" 
                    [loveIts] = "post.loveIts"
                    [created_at] = "post.created_at">
          </app-post-list-item-component>       
        </ul>
       
      </div>
    </div>
  </div>